html {
  display: table;
  width: 100%;
  height: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.app {
  text-align: center;
}

.btn {
  width: 200px;
  height: 80px;
  margin: 10px;
  background-color: transparent;
  border: 4px solid black;
  font-family: monospace;
  font-size: 40px;
}

.btn:hover,
.btn:active {
  background-color: black;
  color: white;
}

.app__start {
  margin: 10 0;
}

.stats {
  font-size: 20px;
}

.stats__total {
  margin-bottom: 20px
}

.pair {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  font-family: monospace;
  font-size: 80px;
}

.pair__equals {
  margin: 0 20px;
}

.choice__true {
  border-color: green;
  color: green;
}

.choice__true:hover {
  background-color: green;
}

.choice__false {
  border-color: red;
  color: red;
}

.choice__false:hover {
  background-color: red;
}

.result {
  margin-bottom: 40px;
  font-size: 40px;
}
